@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans&display=swap');

:root{
    ---blue-color: rgb(60, 60, 247);
    --purple-color: rgb(218, 11, 218);
    --dark-gray-text: rgb(48, 48, 48)
}
body{
    margin: 0;  
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Open Sans, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
/*HEADER*/
header{
    background-color: #fff;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-gray-text);
}
.logo, .menuBars{
    margin: 20px;
}
.logo{
    font-family: 'Courgette', cursive;
    background: -webkit-linear-gradient(120deg, var(---blue-color), var(--purple-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}
/*INICIAL PAGE*/
.inicialPageContainer{
    width: 100%;
    height: 110vh;
}
/*LEFT*/
.leftInicialPage{
    background: linear-gradient(120deg, var(---blue-color), var(--purple-color));
    color: #fff;
    width: 900px;
    height: 900px;
    border-radius: 50%; 
    position: absolute;
    top: -270px;
    left: -200px;
}

.inicialPageTextContent{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 500px;
    left: 230px;
    font-size: 20px;
}
.inicialPageTextContent > h1{  
    font-weight: 500px;
    font-size: 30px;
}
.inicialPageTextContent > h3{
    font-size: 20px;
    font-weight: 100;
    margin: 1px;
}
@media (min-width: 667px) {
    .inicialPageTextContent{
        top: 450px;
        left: 250px;
        align-items: start;
        margin: 10px;
    }
    .inicialPageTextContent > h1{  
        font-size: 40px;
    }
}
/*RIGHT*/
.rightInicialPage >*{
    position: absolute;
    box-shadow: 3px 3px 10px gray;
    border-radius: 50%;
    object-fit: cover;
    z-index: -1;
}
.imgTablet{
    width: 200px;
    height: 200px;
    right: -40px;
    top: -20px
}
.imgPhone{
    width: 180px;
    height: 180px;
    right: 10px;
    top: 420px
}
.imgPC{
    width: 250px;
    height: 250px;
    right: 110px;
    top: 160px
}
@media (min-width: 1024px) {
    .imgTablet{
        right: 20px;
        top: -20px
    }
    .imgPhone{
        width: 250px;
        height: 250px;
        right: 380px;
        top: 50px
    }
    .imgPC{
        width: 350px;
        height: 350px;
        right: 60px;
        top: 200px
    }
}

/*ABOUT US PAGE*/
.aboutUsPageContainer{
    width: 100%;
    height: 100vh;
    margin: 30px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.leftAboutUs{
    color: var(--dark-gray-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divisionBar{
    width: 80px;
    height: 5px;
    border-radius: 10px;
    background:linear-gradient(120deg, var(---blue-color), var(--purple-color));
}
.leftAboutUs > h2{
    font-size: 20px;
}
.leftAboutUs > h4{
    font-size: 12px;
    font-weight: 100;
    margin: 10px 50px;
    text-align: center;
}
.rightAboutUs{
    display:flex;
    justify-content: center;
}
.resoursesAboutUsContainer{
    width: 200px;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.thinDivisionBar{
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background:linear-gradient(120deg, var(---blue-color), var(--purple-color));
}
.icon{
    width: 50px;
    height: 50px;
    background:linear-gradient(120deg, var(---blue-color), var(--purple-color));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aboutUsIcons{
   color: #fff;
} 
@media (min-width: 667px) {
    .aboutUsPageContainer{
        width: 100%;
        height: 50vh;
        margin: 30px 100px;
        flex-direction: row;
    }
    .leftAboutUs{
        color: var(--dark-gray-text);
        width: 30%;
        margin-right: 10px;
        align-items: start;
    }
    .divisionBar{
        width: 80px;
        height: 5px;
        border-radius: 10px;
        background:linear-gradient(120deg, var(---blue-color), var(--purple-color));
    }
    .leftAboutUs > h2{
        font-size: 30px;
    }
    .leftAboutUs > h4{
        font-weight: 100;
        text-align: start;
        margin: 0px;
        font-size: 15px;
    }
    .rightAboutUs{
        display:flex;
        justify-content: center;
        width: 60%;
    }
    .resoursesAboutUsContainer{
        width: 200px;
        margin: 30px 30px;
        align-items: start;
        text-align: start;
    }
    .thinDivisionBar{
        width: 40px;
        height: 2px;
        border-radius: 10px;
        background:linear-gradient(120deg, var(---blue-color), var(--purple-color));
    }
    .icon{
        width: 50px;
        height: 50px;
        background:linear-gradient(120deg, var(---blue-color), var(--purple-color));
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #aboutUsIcons{
       color: #fff;
    } 
}
/*EXPLORE THE COURSES*/
.coursesSectionText{
    margin: 30px 50px;
    color: var(--dark-gray-text);
    font-size: 20px;
}
.coursesSectionbuttonsContainer{
    margin: 30px 50px;
}
#prevBtn,#nextBtn{
    background: linear-gradient(120deg, var(---blue-color), var(--purple-color));
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}
.coursesSectioncoursesContainer{
    display: flex; 
    width: calc(220px*5); 
}
.curso{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 30px 2px 100px rgba(97, 97, 97, 0.61);
    margin: 10px;
    width: 200px;
    height: 180px;
    transform: translateX(220px);  
    border-radius: 10px; 
}
.curso > img{
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.title{
    color:var(--dark-gray-text);
    font-size: 12px;
    font-weight: bold;
    margin: 10px 10px;
}
.cursoData{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 3px 10px;
    font-size: 10px;
    font-weight: bold;
}
.cursoData > *{
    background: -webkit-linear-gradient(var(---blue-color) 40%, var(--purple-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media(min-width: 667px) {
    .coursesSectionText{
        margin: 30px 100px;
        color: var(--dark-gray-text);
        font-size: 20px;
    }
    .coursesSectionbuttonsContainer{
        margin: 30px 100px;
    }
    #prevBtn,#nextBtn{
        background: linear-gradient(120deg, var(---blue-color), var(--purple-color));
        border: none;
        padding: 1rem 2rem;
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
    }
    .coursesSectioncoursesContainer{
        display: flex; 
        width: calc(320px*5); 
    }
    .curso{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        box-shadow: 30px 2px 100px rgba(97, 97, 97, 0.61);
        margin: 10px;
        width: 300px;
        height: 280px;
        transform: translateX(320px);  
        border-radius: 10px; 
    }
    .curso > img{
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .title{
        color:var(--dark-gray-text);
        font-size: 15px;
        font-weight: bold;
        margin: 10px 10px;
    }
    .cursoData{
        display: flex;
        justify-content: space-between;
        margin: 15px 10px;
        font-size: 10px;
        font-weight: bold;
    }
    .cursoData > *{
        background: -webkit-linear-gradient(var(---blue-color) 40%, var(--purple-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
/*PAYMENT PLANS*/
.paymentPlansContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.paymentCTA{
    margin: 30px 100px;
    display: flex;
    flex-direction: column;
}
.paymentCTA > h2{
    color: var(--dark-gray-text);
    font-size: 30px;
}
.paymentPlans{
    display: flex;
    justify-content: center;
}
.paymentPlan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: var(--dark-gray-text);
    width: 200px;
    height: 340px;
    margin: 30px;
    box-shadow: 2px 2px 20px rgba(97, 97, 97, 0.61);
    border-radius: 10px;
    cursor: pointer;
}
.paymentPlan:hover{
    transform: scale(1.1);
}
.paymentPlan > i{
    font-size: 70px;
    background: -webkit-linear-gradient(120deg, var(---blue-color), var(--purple-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.price{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: -20px;
}
.perMonth{
    font-size: 10px;
}
.paymentPlan > h6{
    color: rgb(109, 109, 109);
    font-weight: 100;
    margin: 10px; 
    text-align: center;
}

@media(max-width:600px){
    .paymentCTA{
        margin: 30px 50px;
    }
    .paymentPlan{
        width: 140px;
        height: 300px;
        margin: 10px; 
    }
    .price{
        font-size: 10px;
    }
    .perMonth{
        font-size: 8px;
    }
}
/*FOOTER*/
footer{
    top: 30px;
    background-color: rgba(241, 241, 241, 0.884);    
}
.topFooter{
    margin: 10px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    background: -webkit-linear-gradient(120deg, var(---blue-color), var(--purple-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bottomFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    margin: 10px;
}
@media(max-width:1200px){
    .topFooter{
        margin: 0px 200px;
        font-size: 12px;
    }
    .bottomFooter{
        font-size: 9px;
    }
}
@media(max-width:700px){
    .topFooter{
        margin: 0px 100px;
        font-size: 10px;
    }
    .bottomFooter{
        font-size: 8px;
    }
}

